<!DOCTYPE html>
<html ng-app="sportsStore">
<head>
    <title>SportsStore</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/angular.js"></script>
    <script>
        angular.module('sportsStore', ['customFilters', 'cart', 'ngRoute'])
        .config(function($routeProvider) {

            $routeProvider.when('/complete', {
                templateUrl: '/views/thankYou.html'
            });

            $routeProvider.when('/placeorder', {
                templateUrl: '/views/placeOrder.html'
            });

            $routeProvider.when('/checkout', {
                templateUrl: '/views/checkoutSummary.html'
            });

            $routeProvider.when('/products', {
                templateUrl: '/views/productList.html'
            });

            $routeProvider.otherwise({
                templateUrl: '/views/productList.html'
            });
        });
    </script>
    <script src="/javascripts/controllers/sportStore.js"></script>
    <script src="/javascripts/filters/customFilters.js"></script>
    <script src="/javascripts/controllers/productListControllers.js"></script>
    <script src="/javascripts/components/cart/cart.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/controllers/checkoutController.js"></script>
</head>
<body ng-controller="sportStoreCtrl">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPROTS STORE</a>
        <cart-summary />
    </div>
    <div class="alert alert-danger" ng-show="data.error">
        Error({{data.error.status}}). The product data was not loaded.
        <a href="/" class="alert-link">Click here to try again</a>
    </div>
    <ng-view />
</body>
</html>
